.sider {
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  position: relative;
  z-index: 10; }
  .sider.ligth {
    background-color: white; }
    .sider.ligth .logo {
      background: white; }
      .sider.ligth .logo h1 {
        color: #002140; }

.main-content {
  margin: 24px; }

.screen-xs .main-content {
  margin: 24px; }
